body {
    background-color: rgb(248, 245, 245);
    padding-top: 5px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: black;
    background: url('extra_clean_paper.png') no-repeat;
    background-size: cover;
}
.container { 
    text-align: center;
    
}

#tryAgain, 
#loseImg, 
#winImg { display: none;}
#hm {
    padding-top: 20px;
    border: 10px  rgb(248, 4, 4);
    text-align: center;
    margin-top: 20px;
    min-height: 500px;
    background-color: rgba(21, 17, 211, 0.3);
}

h1,h2,h3,
h4,h5,h6 {
    padding: 7px;
    background-color: rgba(6, 30, 70, 0.2);
}
#cover-image, #loseImg, #winImg{ 
    display: block;
    margin: 0 auto;
}

#currentWord {
    letter-spacing: 10px;
}

